@media screen and (min-width: 600px){

    /*---HEADER---*/
    
    /*---HIDE HAMBURGER BUTTON---*/
    #menu {
        display: none;
    }

    .head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    #page-logo {
        grid-column: 1;
        grid-row: 1;
    }

    nav ul {
        display: flex;
        padding-left: 150px;
        justify-content: flex-end;
    }

    nav a {
        display: block;
    }
    /*---END HEADER---*/

}