@media screen and (min-width: 700px){

    /*---BODY---*/
    body{
        max-width: 1920px;
    }
    
    /*---HEADER---*/
    /*hide hamburger button*/

    header{
        max-width: 700px;
        width: 100%;
    }
    #menu{
        display: none;
    }

    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    #page-logo{
        grid-column: 1;
        grid-row: 1;
    }

    nav ul{
        grid-column: 2;
        display: flex;
        padding-left: 150px;
    }

    nav a{
        display: block;
    }
}