:root{
    --primary-color: #a70d07;
    --secondary-color: #014597;
    --accent-color: #cdb125;
    --text-color1: #ffffff;
    --text-color2: #000000;
    font-family: Roboto, Arial, sans-serif;
}

body{
    max-width: 1000px;
}
h2{
    background-color: var(--primary-color);
    color: var(--text-color1);
}

h3{
    background-color: var(--secondary-color);
    color: var(--text-color1);
}

h4{
    background-color: var(--accent-color);
    color: var(--text-color2);
}

.logo img{
    max-width: 300px;
    height: auto;
}

.wireframe img{
    max-width: 1000px;
    height: auto;
}

