:root{
    --primary-color: #a70d07;
    --secondary-color: #014597;
    --accent-color: #cdb125;
    --text-color1: #ffffff;
    --text-color2: #000000;
    font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    max-width: 450px;
}

/*---HEADER---*/

header{
    display: flex;
    align-items: end;
    background-color: var(--primary-color);
}

#page-logo{
    height: 150px;
}

#page-logo img{
    height: 75px;
    width: auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    right: 0;
    padding-right: 10px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

nav ul{
    align-items: center;
    justify-content: right;
    list-style-type: none;
}

nav a{
display: none;
padding: .5rem;
text-align: center;
text-decoration: none;
color: white;
font-weight: 700;
}

a:hover{
    color: green;
    font-size: 1.5rem;
}

.open a {
	display: block;
}

/*---MAIN---*/
img{
    width: 100%;
}