*{
    box-sizing: border-box;
}

/*body*/
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
}

/*HEADER*/
header{
    padding: .5rem 2%;
}
header h1{
    background-color: #6c457f;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

/*MAIN*/
main{
    padding: 0 2%;
    min-height: 20rem;
}

/*FORM STYLING*/
.pr1 form{
    margin: 1rem 0 1rem 0  ;
    background-color: #faefff;
    border: 1px solid #d1bce3;
    border-radius: 5px;
    padding: .5rem 2%;
}
.pr1 label{
    padding-top: 1rem;
    font-size: .9rem;
}
.pr1 div{
    padding-top: 1rem;
    font-size: .9rem;
}

.features{
    display: block;    
}

.lastbox{
    padding-bottom: 1rem;
}

.pr1 select,
.pr1 input[type="date"],
.pr1 input[type="textarea"],
.pr1 input[type="text"],
.pr1 input[type="submit"],
.pr1 textarea
{
    display: block;
    width: 100%;
    max-width: 400px;
    padding: .75rem;
    border-radius: 5px;
}

.pr1 input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px #999;
}

.star-rating {
  display: flex;

  flex-direction: row-reverse;
  justify-content: space-around;
  position: relative;
  padding-bottom: 3.5rem;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating > label {
  width: 30px;
  height: 30px;
  font-size: 30px;
  transition: 0.2s ease;
  color: goldenrod;
}

.star-rating label:hover {
  color: red;
  transition: 0.2s ease;
}

.star-rating label::before {
  content: '\2606';
}
.star-rating input:checked ~ label:before {
  content:'\2605';
}

.pr1 textarea{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 150px;
    resize: none;
}

/*FOOTER*/
footer{
    margin-left: 2%;
    padding: .5rem 2%;
    width: 100%;
    max-width: 382px;
    background-color: #6c457f;
    color: white;
    border-radius: 5PX;
    margin-top: rem;
}